
// Animation Curves
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default
$animation-curve-default: $animation-curve-fast-out-slow-in !default

// Category Colors
$categories: sports parks arts buildings food infrastructure

$color-sports: #3b97d3
$color-parks: #4fdf33
$color-arts: #b42dc4
$color-buildings: #dd9334
$color-food: #2ba342
$color-infrastructure: #cd5e5e

$categoryMap: ( sports: $color-sports, parks: $color-parks, arts: $color-arts, buildings: $color-buildings, food: $color-food, infrastructure: $color-infrastructure )

$color-red: #e81616
$color-blue: #14b7e0
$color-green: #42cd42
