extends layout

block content
    header.site--header
        include partials/sitenav
        article.site--header-content
            .site--header-content--background
            h1 Kids for Playgrounds
            h4
                | 83,4% -
                span.normal 10.436 / 12.500 GBP
            h4 by Andrei Hodorog
    include partials/categories
    section.site-section
        h1.site-section--title Projects people loved
        .site--itemlist
            article.site--project.sports
                header
                    img(src="images/stock2.jpg")
                    .badge
                        .mdi.mdi-heart
                footer
                    h1 People who bike
                    h4 Sports & Play
                    h4
                        span.mdi.mdi-map-marker
                        | Location
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .site--progressbar
                        .site--progressbar-percent 73%
                        .site--progressbar-container
                            .site--progressbar-progress(style="width: 73%")
                    p 2.480 GBP - 19 days left
            article.site--project.parks
                header
                    img(src="images/stock2.jpg")
                    .badge
                        .mdi.mdi-heart
                footer
                    h1 Gardens for us
                    h4 Parks & Gardens
                    h4
                        span.mdi.mdi-map-marker
                        | Location
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .site--progressbar
                        .site--progressbar-percent 73%
                        .site--progressbar-container
                            .site--progressbar-progress(style="width: 73%")
                    p 2.480 GBP - 19 days left
            article.site--project.buildings
                header
                    img(src="images/stock2.jpg")
                    .badge
                        .mdi.mdi-heart
                footer
                    h1 Theatre & Culture
                    h4 Buildings
                    h4
                        span.mdi.mdi-map-marker
                        | Location
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .site--progressbar
                        .site--progressbar-percent 73%
                        .site--progressbar-container
                            .site--progressbar-progress(style="width: 73%")
                    p 2.480 GBP - 19 days left

    section.site-section
        h1.site-section--title New Projects
        .site--itemlist
            article.site--project.sports
                header
                    img(src="images/stock2.jpg")
                    .badge
                        .mdi.mdi-heart
                footer
                    h1 People who bike
                    h4 Sports & Play
                    h4
                        span.mdi.mdi-map-marker
                        | Location
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .site--progressbar
                        .site--progressbar-percent 73%
                        .site--progressbar-container
                            .site--progressbar-progress(style="width: 73%")
                    p 2.480 GBP - 19 days left
            article.site--project.parks
                header
                    img(src="images/stock2.jpg")
                    .badge
                        .mdi.mdi-heart
                footer
                    h1 Gardens for us
                    h4 Parks & Gardens
                    h4
                        span.mdi.mdi-map-marker
                        | Location
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .site--progressbar
                        .site--progressbar-percent 73%
                        .site--progressbar-container
                            .site--progressbar-progress(style="width: 73%")
                    p 2.480 GBP - 19 days left
            article.site--project.buildings
                header
                    img(src="images/stock2.jpg")
                    .badge
                        .mdi.mdi-heart
                footer
                    h1 Theatre & Culture
                    h4 Buildings
                    h4
                        span.mdi.mdi-map-marker
                        | Location
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .site--progressbar
                        .site--progressbar-percent 73%
                        .site--progressbar-container
                            .site--progressbar-progress(style="width: 73%")
                    p 2.480 GBP - 19 days left



    section.site-section
        h1.site-section--title Contributors
        .site--itemlist
            article.site--contributor
                header
                    img.avatar(src="images/stock1.jpg")
                    h1.crown
                        .mdi.mdi-crown
                    h1.firstname Alina
                    h1.lastname Helpington
                    p I am a good person, and I want to help
                footer
                    .item.blue
                        .badge
                            .mdi.mdi-rocket
                        .text 12
                    .item.green
                        .badge
                            .mdi.mdi-currency-gbp
                        .text 3.430
            article.site--contributor
                header
                    img.avatar(src="images/stock1.jpg")
                    h1.crown
                        .mdi.mdi-crown
                    h1.firstname Magda
                    h1.lastname Helpington
                    p I am a good person, and I want to help
                footer
                    .item.blue
                        .badge
                            .mdi.mdi-rocket
                        .text 2
                    .item.green
                        .badge
                            .mdi.mdi-currency-gbp
                        .text 3.430
