section.site-section
    h1.site-section--title What are you looking for?
    ul.site-categorylist
        a.item.sports Sports & Play
        a.item.parks Parks & Gardens
        a.item.arts(href="/artsandculture.html") Arts & Culture
        a.item.buildings Buildings
        a.item.food Food & Farming
        a.item.infrastructure Insfrastructure
